.landing__main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 90vh;  
}

.landing__heading h1 {
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    transition: all 800ms ease;
}

.ai__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: fixed;
    bottom: 7vh;
    left: 6%;
}

.left__section {
    position: fixed;
    top: 50%;
    left: -250px;
    transform: translateY(-50%);
    height: 500px;
    width: 500px;
    transition: all 800ms ease;
}

.right__section {
    position: fixed;
    top: 50%;
    right: -250px;
    transform: translateY(-50%);
    height: 500px;
    width: 500px;
    transition: all 800ms ease;
}

.section__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.section__border {
    height: 100%;
    width: 100%;
    border: 1px dotted #A0A4AB;
    transform: rotate(45deg);
}

#discover__btn {
    position: absolute;
    left: 350px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

#test__btn {
    position: absolute;
    right: 350px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.left__btn--border {
    height: 30px;
    width: 30px;
    border: 1px solid #1A1B1C;
    transform: rotate(45deg);
    transition: all 200ms ease;
}
.right__btn--border {
    height: 30px;
    width: 30px;
    border: 1px solid #1A1B1C;
    transform: rotate(45deg);
    transition: all 200ms ease;
}

.left__triangle {
    transform: rotate(180deg);
    position: absolute;
    left: 18px;
    top: 20px;
    transition: all 200ms ease;
}
.right__triangle {
    transform: none;
    position: absolute;
    right: 18px;
    top: 15px;
    transition: all 200ms ease;
}

.left__btn--name {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -2%;
    margin: 15px;
}
.right__btn--name {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -2%;
    margin: 15px;
}


/* btn animations */

#discover__btn:hover .left__btn--border {
    scale: 1.1;
}
#discover__btn:hover .left__triangle {
    scale: 1.1;
}

#test__btn:hover .right__btn--border {
    scale: 1.1;
}
#test__btn:hover .right__triangle {
    scale: 1.1;
}

#discover__btn:hover .right__section {
    opacity: 0;
}