.nav__row {
    height: 64px;
    width: 100%;
    padding: 12px 0;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
}

.logo__btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -2%;
    padding: 8px 16px;
    margin-right: 8px;
}

.intro__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__wrapper p {
    color: #99a1af;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -2%;
    margin: 0 4px;
}

.bracket {
    color: #1A1B1C;
    height: 17px;
    width: 4px;
}

.nav__btn {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: -2%;
    line-height: 16px;
    padding: 8px 16px;
    color: #fcfcfc;
    background-color: #1A1B1C;
    margin-right: 24px;
}