@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Roboto";
  color: #1a1b1c;
  font-variant-emoji: text;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}
